@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .my-prose {
    @apply prose dark:prose-invert;
  }

  .iphone-safe-inset {
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
  }

  .under-construction {
    position: relative;
  }
  .under-construction::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
      -45deg,
      rgba(243, 104, 18, 0.05),
      rgba(243, 104, 18, 0.05) 6px,
      rgba(243, 104, 18, 0.3) 6px,
      rgba(243, 104, 18, 0.3) 12px
    );
    pointer-events: none;
    z-index: 49;
  }

  html::before {
    content: "";
    @apply fixed h-full w-full bg-background;
  }
}
