@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .my-prose {
    @apply prose dark:prose-invert;
  }

  .under-construction {
    position: relative;
  }
  .under-construction::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
      -45deg,
      rgba(243, 104, 18, 0.07),
      rgba(243, 104, 18, 0.07) 6px,
      rgba(243, 104, 18, 0.31) 6px,
      rgba(243, 104, 18, 0.31) 12px
    );
    pointer-events: none;
    z-index: 999;
  }
}
